@use "../general-mixins.scss" as *;
@use "../variables.scss" as *;

body {
    @include make-flex-column;
    align-items: center;
    min-height: 100dvh;
    overflow-x: hidden;
}

header {
    max-width: 1300px;
}
.header-img {
    @include make-flex-column;
    @include sideborder;
    background-image: url('/img/header-1300x160.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 160px;
}

.contact-information {
    @include make-flex(0, 4px);
    align-self: flex-end;
    background-color: $blue-color-transparent;
    color: white;
    padding: 4px;
    width: fit-content;
    font-size: small;

    a {
        color: white;
    }
    a:hover {
        color: $orange-color;
    }
}
.logo-and-slogan-div {
    @include make-flex(1rem, 2rem);
    padding-bottom: 1rem;
    margin-top: 1rem;
    h1 {
        color: $orange-color;
        text-shadow: 2px 2px 3px rgb(46, 46, 46);
        height: fit-content;
        width: fit-content;
        font-size: clamp(30px, 4vw, 50px);
        font-weight: 700;
    }
    .slogan-div {
         flex: 1;
        .slogan {
            font-size: clamp(1rem, 2vw, 24px);
            text-align: end;
            font-style: italic;
            font-weight: 500;
        }
    }
}
