@use "../general-mixins.scss" as *;
@use "../variables" as *;

.main-content {
    @include make-flex;
    gap: 1rem;
    @include sideborder;
    max-width: 1300px;
    min-height: 100dvh;
    padding-top: 1rem;
    background-color: $grey-color;
}

.product-menu {
    @include rounded-blue-border;
    width: 250px;
    height: fit-content;
    padding: 1rem;
    // flex: 1;
    h2 {
        color: $blue-color;
    }
    li {
        list-style: none;
        margin-top: 10px;
    }
    li:hover {
        transform: translateY(-2px);
    }
    a {
        text-decoration: none;
        color: $blue-color;
    }
    a:hover {
        background-color: $orange-color;
        padding: 3px;
        @include rounded-no-border;
    }
    .category-name {
        font-size: 20px;
    }

    .dropdown-content {
        font-style: italic;
        font-size: 1rem;
        list-style: none;
        display: none;
            li {
                margin-top: 5px;
            }
    }
    .dropdown:hover {
        .dropdown-content{
            display: block;
        }
    }
}
main {
    flex: 1;
}
article {
    @include rounded-no-border;
    @include make-flex;
    padding: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
    background-color: white;
    height: fit-content;
 .text-content {
    h3 {
        font-size: 30px;
    }
    
    @include make-flex-column;
    gap: 1rem;
    flex: 2;
    a {
        text-decoration: none;
        font-weight: 600;
        color: $orange-color;
    }
 }

 .img-div {
    flex: 1;
    @include rounded-blue-border;
    aspect-ratio: 16 / 9;
    overflow: hidden;
     img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
 }
}