@use "../general-mixins.scss" as *;
@use "../variables" as *;

.main-content {
    @include make-flex;
    @include sideborder;
    max-width: 1300px;
    padding-top: 1rem;
    justify-content: space-between;
    background-color: $green-color;
}

.product-menu {
    background-color: $orange-color;
    @include border;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    h2 {
        color: $blue-color;
    }
    li {
        list-style: none;
        margin-top: 10px;
    }
    li:hover {
        transform: translateY(-2px);
    }
    a {
        text-decoration: none;
        color: $blue-color;
    }
    a:hover {
        background-color: white;
        padding: 3px;
        @include border;
    }
    .category-name {
        font-size: 22px;
    }

    .dropdown-content {
        font-size: 1rem;
        list-style: none;
        display: none;
        li {
        margin-top: 5px;
    }
   
    }
    .dropdown:hover {
        .dropdown-content{
            display: block;
        }
    }
}
main {
    flex: 1;
    @include make-flex;
    flex-wrap: wrap;
    gap: 1rem;
}
article {
    @include border;
    @include make-flex;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: yellow;

 img {
    max-width: 100%;
 }

}