@use "./variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

@mixin make-flex ($side-padding, $gap){
    display: flex;
    padding-left: $side-padding;
    padding-right: $side-padding;
    gap: $gap;
}

@mixin make-flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin rounded-no-border {
    border: none;
    border-radius: 5px;
}

@mixin rounded-blue-border {
    border: 1px solid $blue-color;
    border-radius: 5px;
}

@mixin jumping-links ($background-color){
    font-weight: 700;
    text-decoration: none;
        &:hover {
            transform: translateY(-2px);
            background-color: $background-color;
            @include rounded-no-border;
        }
}




