@use "./variables.scss" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

@mixin sideborder {
    border-left: 2px solid $blue-color;
    border-right: 2px solid $blue-color;
}

@mixin make-flex {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
}

@mixin make-flex-column {
    display: flex;
    flex-direction: column;
}

@mixin rounded-no-border {
    border: none;
    border-radius: 5px;
}

@mixin rounded-blue-border {
    border: 1px solid $blue-color;
    border-radius: 5px;
}

@mixin article-base {
    @include rounded-no-border;
    h3 {
        font-size: 30px;
    }
    a {
        text-decoration: none;
        font-weight: 600;
        color: $orange-color;
    }
    img {
        @include rounded-blue-border;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }
    padding: 2rem;
    margin-bottom: 1rem;
    gap: 1rem;
    background-color: white;
    max-width: 70%;
    height: fit-content;
}


