$orange-color: #f3962b;
$orange-color-transparent: #f3962b73;
$blue-color-transparent: rgba(4, 12, 124, 0.363);
$blue-color: rgb(4, 12, 124);
$grey-color: rgb(237, 240, 247);
$light-color: rgb(254, 255, 243);